doctype html 
html 
    head 
        title Dance website 
        block style 
    body 
        header
            nav#navbar 
                ul
                    div#logo
                        img(src="https://freesvg.org/img/The-Last-Dance.png", alt="dance picture")
                        |RDA
                       
                    li #[a(href="/") Home]

                    
                    li #[a(href="/contact") Contact Us]                        

        block content
        footer Copyright &copy; RDA |All Rights Reserved