doctype html
html
    head
        title Dance Website 
        style
            include dancewebsite.css
            include dancewebsiteresponsive.css
            
         
    body
        header
            nav#navbar 
                ul
                    div#logo
                        img(src="https://freesvg.org/img/The-Last-Dance.png", alt="dance picture")
                        |RDA
                       
                    li #[a(href="/") Home]

                    

                    li #[a(href="/contact") Contact Us]                        
                
                  
        main
            section#welcome 
                div#banner
                    |Welcome to Rimmy's Dance Academy
                div Eat, Sleep, Dance, Repeat
                img(src="https://cdn.wallpapersafari.com/7/96/86JpcF.png", alt="ballerina dancing")
                

            section#mission
                h1 Our Mission
                div#layout
                    div.card 
                        h1 Expert Teaching
                        div.container
                            img(src="https://cdn.pixabay.com/photo/2017/01/31/14/26/ballerina-2024547__480.png", alt="dancing girl")
                            div.para We offer you the best teaching by the best meantors in the industry
                    div.card  
                        h1 Different Styles
                        div.container
                            img(src="https://cdn.pixabay.com/photo/2020/05/11/04/31/breakdance-5156449_1280.png",alt="dancing guy")
                            div.para You get to learn a lot of different styles under one roof
                    div.card 
                        h1 Free Certificates 
                        div.container
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREO7htc9Vs-cOVSNHlYxAWuZgmfaNcat5J-1wVNVKzWCrpg-M9Z9FHgdZ5oElMPXUP3is&usqp=CAU" , alt="dancing guy")
                            div.para You get free certificates on the completion of the course
                         

                         
            section#sponsor
                h1 Our Sponsors
                div#logoimages
                    img#dell(src="https://upload.wikimedia.org/wikipedia/commons/2/25/Dell_logo.png", alt="dell")
                    img#hp(src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/HP_New_Logo_2D.svg/2048px-HP_New_Logo_2D.svg.png", alt="hp")
                    img#apple(src="https://upload.wikimedia.org/wikipedia/commons/0/09/%D0%90pple_.png", alt="apple")
                    img#microsoft(src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3430774/microsoft-icon-md.png", alt="microsoft")
            
                
            
        footer Copyright &copy; RDA |All Rights Reserved     